{% url "sites:list" as sites_list %}
{% url "sites:summary_sum" as sites_summary_sum %}
{% url "sites:summary_average" as sites_summary_average %}
{% url "sites:detail" site.id as sites_detail %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item{% if request.get_full_path == sites_list or request.get_full_path == sites_detail %} active{% endif %}">
        <a class="nav-link" href="{{ sites_list }}">Sites</a>
      </li>
      <li class="nav-item{% if request.get_full_path == sites_summary_sum or request.get_full_path == sites_summary_average %} active{% endif %}">
        <a class="nav-link" href="{{ sites_summary_sum }}">Summary</a>
      </li>
    </ul>
  </div>
</nav>
